%h1
	=@title.title
%div#video_list
	=@videos.each do |vid|
		%div#video_each
			%p#title
				=link_to vid.title, video_path(vid.id)
			%p#thumb
				\/*thumb goes here*/
			%p#description
				Description:
				=vid.description
			%p#upload_date
				Uploaded at:
				=vid.created_at
%div#categories
	= render :partial => "layouts/sidebar_categories"
%br{:style=>"clear:both"}
