%div#page-info
	%span#title
		Users
	%span#desc
		Viewing all users
%br{:style => "clear:both;"}
%div
	=paginate @friends
%div
	= render "profile/friends/search_form"
%div#friend_list
	-@friends.each do |friend|
		%div#each
			%p#thumb
				%div.thumbnail-wrapper
					-if friend.profilepic?
						=image_tag friend.profilepic_url(:profile_pic_thumb), :style => "width:114px", :class => "thumbnails" ,:alt => "#{friend.username.to_s}"
					- else
						= image_tag "no-profile-pic.jpg", :style => "height:114px;width:200px;"
					%div.item-title-wrapper
						%p.item-title
							=friend.username

%br{:style=>"clear:both"}

