%br{:style=>"clear:both"}
-unless current_user == nil
	%div#control-panel
		- unless current_user == @user
			%div{:style=>"float:left"}
				-if current_user.is_stranger(@user)
					=link_to "Add Friend", add_profile_friends_path(@user)
				-else
					=link_to "UnFriend", profile_friend_path(@user), :method => :delete
			%div
				&nbsp;
				=link_to "View Friends", other_user_friends_path(@user.username)
			%div
				=link_to "Send Message"
		- else
			%div
				=link_to "View Friends", other_user_friends_path(@user.username)
