=render "pic"
=render "data"
- unless @ad == nil
	%div.ads
		=link_to (image_tag @ad.banner_url(:banner_ad)), @ad.url
=render "controls"
%div#user-page-content
	%div#user-page-control
		%a{:id => "media-btn", :class => "userpage-btn user-page-selected"}
			Media
		%a{:id => "wall-btn", :class => "userpage-btn"}
			Wall
	%div#user-page-data
		%div#user-page-wall-post
			=render "wall_post"
		%div#user-page-media
			=render "items"
