!!! 5
%head
	%meta{:content => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
%body
	%br
		Name:
		=@info[:name]
	%br
	%br
		Email:
		=@info[:email_address]
	%br
	%br
		Website:
		=@info[:website]
	%br
	%br
		Comments:
	%br
		=@info[:comment]
