%div#page-info
	%span#title
		All Featured Events
	%span#desc
%br{:style => "clear:both"}
%div
	-@videos.each do |video|
		%div#each
			%div#video_cover.thumbnail-wrapper
				=link_to (image_tag video.thumbnails.first.url), video_path(video) 
				%div#video_title.item-title-wrapper
					%p.item-title
						=video.title	
%br{:style => "clear:both"}
=paginate @videos
