%div#page-info
	%span#title
		=@video.title
	%span#desc
		by
		=@video.user.username
-if @video.processed?
	%p
		= video_tag(@video.media, :controls => true, :autobuffer => true, :width => "640")
%p
	%p
		Description:
		=@video.description
%p
	%p
		Category:
		=@video.category.title
