%div#page-info
	%span#title
		=@video.title
	%span#desc
		Viewing 
		=@video.category.title
		videos
-if @video.processed?
	%div#video-show-page
		%p
			-if @videoAd != nil 
				= video_tag(@video.media, :controls => true, :autobuffer => true, :width => "640", :id => "video-element", :ads => @videoAd.media)
			-else
				= video_tag(@video.media, :controls => true, :autobuffer => true, :width => "640", :id => "video-element")
		%p
		%div#sharethis
			%span.st_facebook_hcount{:displayText => "Facebook"}
			%span.st_twitter_hcount{:displayText => "Tweet"}
			%span.st_googleplus_hcount{:displayText => "google plus"}
			%span.st_sharethis_hcount{:displayText => "shareThis"}
			
			-unless current_user == nil
				-if current_user.admin
					=link_to "Edit", edit_profile_video_path(@video.id)
				%p
					=@video.description
		%p
			Uploaded By:
		%div#video-owner
			%div#profilepic
				-unless @video.user.profilepic_url(:profile_pic) == nil
					=image_tag @video.user.profilepic_url(:profile_pic).to_s
			%div#profile-information
				%p
					%span#bold
						Posted on:
					=@video.created_at
				%p
					%span#bold
						By:
					=@video.user.username
				%p
					%span#bold
						Posted in
					%span#category
						=@video.category.title
			%br{:style => "clear:both"}
		=render "comment"
- else
	%p
		while we process your video you can check out other Video from our list...

	= link_to "Video Gallery",videos_path
