%div#page-info
-if @video.processed?
	%h1#video-category
		=@video.category.title
	%h1#video-title
		=@video.title
	%p
		= video_tag(@video.media, :controls => true, :autobuffer => true, :width => "640", :id => "video-element")
	-if @video.user == current_user
		%p
%p
	%p
		=@video.description
%div#video-owner
	%div#profilepic
		=image_tag @video.user.profilepic_url(:profile_pic).to_s
	%div#profile-information
		%p
			=@video.created_at
		%p
			by
			=@video.user.username
		%p
			Posted in
			=@video.category.title
	%br{:style => "clear:both"}
