=render "slide_banner"
- unless @ad == nil
	%div.ads{:style => "float:right;"}
		=link_to (image_tag @ad.banner_url(:banner_ad)), @ad.url

%h3
	Recently Uploaded Videos
%div#thumb_list
	=render "recent_videos"
%br{:style => "clear:both;"}
%h3
	Video Picks
%div#thumb_list
	=render "featured_videos"
%br{:style => "clear:both;"}
%h3
	Featured Events
%div#thumb_list
	=render "featured_events"
%br{:style => "clear:both;"}
