%div#page-info
	%span#title
		&nbsp;
	%span#desc
		&nbsp;
%br{:style => "clear:both;"}
%div.banner{:style => "float:left;"}
	- unless @banners == nil
		- @banners.each do |banner|
			=image_tag banner.image_url(:slide)
- unless @ad == nil
	%div.ads{:style => "float:right;"}
		=link_to (image_tag @ad.banner_url(:banner_ad)), @ad.url
%br{:style => "clear:both;"}
