%div#event_list
	-@featured_events.limit(1).each do |event|
		%div#event_each
			- if event.image?
				%div#event-thumbnail
					= link_to (image_tag event.image_url(:thumb_event).to_s), event_path(event)
			%div#event-content
				%h6.event-title
					=link_to event.title, event_path(event.id)
				%p#upload_date
					%span.title
						Date:
					=event.created_at
				%p#location
					%span.title
						Location:
					=event.location
				%p#description
					= truncate(event.description, :length => 600, :omission => "...")
		%br{:style => "clear:both"}
