%div#event_list
	-@events.each do |event|
		%div#event_each
			- if event.image?
				%div#event-thumbnail
					= link_to (image_tag event.image_url(:not_featured).to_s), event_path(event)
					-unless current_user == nil
						-if current_user.is_bookmarked(event)
							= button_to "My Peek", :controller => "profile/bookmark", :method => "post", :event => event.id
						-else
							= button_to "unPeek me", :controller => "profile/bookmark", :action => "unbookmark",  :id => event.id
			%div#event-content
				%h6.event-title
					=link_to event.title, event_path(event.id)
				%p#upload_date
					%span.title
						Date:
					=event.created_at
				%p#location
					%span.title
						Location:
					=event.location
				%p#description
					= truncate(event.description, :length => 120, :omission => "...")
		%br{:style => "clear:both"}
