=render "slideshow"
- unless @ad == nil
	%div.ads
		=link_to (image_tag @ad.banner_url(:banner_ad)), @ad.url
%br{:style => "clear:both"}
=render "featured_list"
=paginate @events
=render "non_featured"
