%div#page-info
	%span#title
		Event Box
	%span#desc
		Viewing Events
=render "slideshow"
- unless @ad == nil
	%div.ads{:style => "margin:40px 0 0 0;"}
		=link_to (image_tag @ad.banner_url(:banner_ad)), @ad.url
%br{:style => "clear:both"}
=render "special_list"
%div#events-pagination
%h3
	Recently Added Events
=render "non_featured"
%div#events-pagination
	=paginate @events
