%div#page-info
	%span#title
		All Events
	%span#desc
		Viewing Events
=paginate @events
%div#event_list
	=@events.each do |event|
		%div#event_each
			%p#title
				=link_to event.title, event_path(event.id)
			%p#thumb
				\/*thumb goes here*/
			%p#description
				Description:
				=event.description
			%p#upload_date
				Uploaded at:
				=event.created_at
	


