%div#events-page
	-if @event.image?
		%div#event-page-image
			= image_tag @event.image_url(:event_page).to_s
	%h1
		=@event.title
	-unless current_user== nil
		-if current_user.admin
			%div
				=link_to "Edit", edit_profile_event_path(@event.id)
	%p
		Location:
		=@event.location
	%p
		%p
			Date:
			=@event.date
	%p
		%p
			Description:
			=auto_link(@event.description)
