%div#events-page
	-if @event.image?
		%div#event-page-image
			= image_tag @event.image_url(:event_page).to_s
	%h1
		=@event.title
	%p
		Location:
		=@event.location
	%p
		%p
			Date:
			=@event.date
	%p
		%p
			Description:
			=@event.description
