%h1
	=@event.title
-if @event.image?
	%p
		= image_tag @event.image_url(:event_page).to_s
	%p
	%p
		Location:
		=@event.location
%p
	%p
		Date:
		=@event.date
%p
	%p
		Description:
		=@event.description
