// Place all the styles related to the admin/ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#ads_list {
	table {
		border: solid 1px;
		td {
			border: solid 1px;
			text-align: center;
		}
		width:700px;;
		margin: 0 auto;
	}
}
