%div#page-info
	%span#title
		All Albums
	%span#desc
		Viewing Users Gallery
-if @albums.empty?
	%p
		No Albums Found!
-else
	-@albums.each do |album|
		%div
			%div#album_cover
				=link_to (image_tag album.image_url(:album_thumb).to_s), album_pictures_path(album.id) 
			%div#album_title
				=album.title	
= debug @albums
