%div#page-info
	%span#title
		All Albums
	%span#desc
		Viewing Users Gallery
-if @albums.empty?
	%p
		No Albums Found!
-else
	%div
		=paginate @albums
		-@albums.each do |album|
			%div#each
				%div#album_cover.thumbnail-wrapper
					=link_to (image_tag album.image_url(:album_thumb).to_s), album_pictures_path(album) 
					%div#album_title.item-title-wrapper
						%p.item-title
							=album.title	
%br{:style => "clear:both;"}
