%h2#title
	PEEKBOX.TV: COMPANY PROFILE
%p
	PEEKBOX.TV is the brainchild of creative people behind Pilipinas Productions and Entertainment Recordings Inc. It is a social networking site dedicated to not just connect people from all over the world but to also provide premium online entertainment exclusive to its users.
%p
	Pilipinas Productions and Entertainment Recordings Incorporated is an Events-to-Online company producing recordings, on-ground events, in-house shows, as well as online user-generated content that are hosted mainly through its website. Although it is a locally produced online entertainment provider, the company aims to produce recordings, events, shows and film features, promotions and video content for the international market.
%p
	%p.emphasize
		CONTACT US: 
	(+632) 990 0015/1336?b 
	%p.emphasize
		EMAIL: 
	inquiry@pilipinasproductions.com peekbox.tv@pilipinasproductions.com 
	%p.emphasize
		Address: 
	\# 8 11th Jamboree Street, Brgy. Sacred Heart, Quezon City
	Official website: http://www.pilipinasproductions.com
