%p
	%span{:style => "font-weight:bold"}
		CONTACT US:
	(+632) 990 0015/1336 
%p
	%span{:style => "font-weight:bold"}
		EMAIL: 
	inquiry@pilipinasproductions.com 
%p
	peekbox.tv@pilipinasproductions.com

