%h2#title
	User Guidelines	
%h4
	Peekboxing
%p
	%span.firstcharacter
		P
	eekbox.tv was created specially for individuals, such as yourself, to share videos, connect with friends and meet new ones, as well as to enjoy exclusive shows and events streamed online for your enjoyment.

%h4
	Uploading and Sharing
%p
	%span.firstcharacter
		S	
	haring videos is easy. With a click of button, you can show the world your creativity. Just remember to upload original works only. Commercial materials and other non-original works are subject for approval by Peekbox.tv administrators. For more information, refer to terms and conditions.

%h4
	Language
%p
	%span.firstcharacter
		P	
	eekbox.tv is a safe and friendly online community. Foul language, obscenity, bullying, and other misconduct will not be tolerated. Users who are reported doing so will be removed.

%h4
	Advertise with Us
%p
	%span.firstcharacter
		P	
	eekbox.tv is the best venue to advertise your product, not only is it a community of a wide range of audiences, but because the same production team responsible for its online original content is also in charge of creating its promo campaigns. That's like hitting two birds with one stone. Our creative team offers custom skins, video commercials, video integrations, sponsored web series, and sponsorship of our live events, as well as standard media. We provide top-notch and creative advertising that truly is value for your money.
