%div#page-info
	%span#title
		Help
	%span#desc
		Informations
%br{:style => "clear:both;"}
%div#company_profile
	=render "company_profile"
%div#user_guidelines
	=render "user_guidelines"
%br{:style => "clear:both;"}
