-@pictures.each do |pic|
	%div#picture-page
		-if pic.image?
			%div#picture-page-image
				= image_tag pic.image_url(:picture_page).to_s
		%h1
			=pic.title
		%p
			%p
				Description:
				=pic.description
=paginate @pictures
