%h1
	Albums
-if @albums.empty?
	%p
		No Albums Found!
-else
	-@albums.each do |album|
		%div
			%div#album_cover
				=link_to (image_tag album.image_url(:album_thumb).to_s), profile_album_pictures_path(album) 
			%div#album_title
				=album.title	
