=form_for @album, :url => profile_albums_path, :html => {:multipart => true} do |album| 
	%label{:for => "title"} Title:
	%br
	= album.text_field :title
	%br
	%label{:for => "description"} Description:
	%br
	= album.text_area :description
	%br
	%label{:for => "image"} Album Cover:
	= album.file_field :image
	%br
	= submit_tag "Add Image"
