=form_for @album, :url => profile_albums_path, :html => {:multipart => true} do |album| 
	-if @album.errors.any?
		%div#error_explanation
			%h2
				=pluralize(@album.errors.count, "error")
				Prohibited this Album from being saved
			%ul
				-@album.errors.full_messages.each do |msg|
					%li
						=msg
	%label{:for => "title"} Title:
	%br
	= album.text_field :title
	%br
	%label{:for => "description"} Description:
	%br
	= album.text_area :description
	%br
	%label{:for => "image"} Album Cover:
	= album.file_field :image
	%br
	= submit_tag "Add Album"
