// Place all the styles related to the Information controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#pic {
	width:auto;
	float:left
}

div#information {
	float:left;
	color: #666;
	padding-left:10px;
	.info {
		line-height:40px;
	}
}

h3{
	font-family: 'Ubuntu', verdana;
	font-weight: lighter;
	margin-bottom:0px;
	color: #666;
}

div.view-all-link {
	float:right;
}
