// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#video_each{
	border: {
		color: #aaa;
		style: solid;
		width: 10px;
	}
}

div#video_list {
	width:640px;
	float:left;
}

div#categories {
	float:left;
}
