= debug @user
%div
	%div First Name:
	%div 
		=@user.first_name
	%div Last Name:
	%div 
		=@user.last_name
	%div Location:	
	%div 
		=@user.location
	%div Occupation:	
	%div 
		=@user.occupation
	%div Website:
	%div 
		=@user.website
	%div Sex:
	%div 
		=@user.sex
