%h1
	Events
-if @user_events.empty?
	%p
		No Events Found!
-else
%div#event_list
	-@user_events.each do |event|
		%div#event_each
			- if event.image?
				%div#event-thumbnail
					= link_to (image_tag event.image_url(:thumb_event).to_s), edit_profile_event_path(event)
					%div
						=link_to "delete", profile_event_path(event), :method => :delete
			%div#event-content
				%h6.event-title
					=link_to event.title, edit_profile_event_path(event.id)
				%p#upload_date
					%span.title
						Date:
					=event.created_at
				%p#location
					%span.title
						Location:
					=event.location
				%p#description
					= truncate(event.description, :length => 600, :omission => "...")
		%br{:style => "clear:both"}
