%h1
	Events
-if @user_events.empty?
	%p
		No Events Found!
-else
	-@events.each do |event|
		%div
			%div#event_cover
				=link_to (image_tag event.image_url(:event_thumb).to_s), profile_event_pictures_path(event) 
			%div#event_title
				=event.title	

