%ul.link
	%li.item
		= link_to 'Ads' , admin_ads_path
		%ul.link
			%li.item
				= link_to 'Add Ads' , new_admin_ad_path
	%li.item
		= link_to 'Banner' , admin_banner_index_path
		%ul.link
			%li.item
				= link_to 'Add Banner' , new_admin_banner_path
