%div#bottom
	%div#wrapper
		%div#copyright
			%div.rights
				2011 peekbox all rights reserved. 
				= link_to "Peekbox.tv", "#"
		%div#share
			%div.social
				/ facebook goes here
				/= link_to image_tag("pb/facebook_32.png"), "#"
			.social
				/ facebook goes here
				/= link_to image_tag("pb/twitter_32.png"), "#"
