%div#bottom
	%div#bottom-wrapper
		%div#copyright
			%div.rights
				2011 peekbox all rights reserved. 
				= link_to "Peekbox.tv", "#"
		%div#share
			%div.social
				= link_to "", "http://twitter.com", :id =>"twitter_link", :class=>"posh_tip_twitter"
			.social
				= link_to "", "http://facebook.com/peekbox", :id =>"facebook_link", :class=>"posh_tip_facebook"
			%br{:style=>"clear:both"}
		%br{:style=>"clear:both"}
