<!-- Twitter -->
<div id="twitter">
				<div class="wrapper">
								<a href="#" id="prev-tweet"></a>
								<a href="#" id="next-tweet"></a>
								<%= image_tag "pb/bird.png", :alt => "Tweets" %>
								<div id="tweets">
								<ul class="tweet_list"></ul>
								</div>
				</div>
</div>
<!-- ENDS Twitter -->


<!-- FOOTER container -->
<div>
				<!-- 3 columns starts here -->
				<div>
								<!-- first-col -->
												<h6>CATEGORIES</h6>
								<ul>  
												<li class="page_item"><a href="http://peekbox.tv/">Home</a></li>
												<li class="page_item"><a href="http://peekbox.tv/video-gallery">Video</a></li>
												<li class="page_item"><a href="http://peekbox.tv/gallery">Gallery</a></li>
												<li class="page_item"><a href="http://peekbox.tv/events">Events</a></li>
												<li class="page_item"><a href="http://peekbox.tv/help">Help</a></li>
												<li class="page_item"><a href="http://peekbox.tv/contact">Company</a></li>                             

								</ul>	
				</div>

				<!-- second column -->
				<div>
								<h6>WE LIKE YOU</h6>
								<p>If you like us too, hop over to facebook for exclusive news and offers.</p>
				</div>

				<!-- third column -->
				<div>
								<h6>NEWSLETTER</h6>
								<p>Sign up to our newsletter to receive all the bike goodness you'll ever need! </p>

								<!-- form -->
								<form action="#" method="post" id="commentform">
												<label >NAME </label>
												<input type="text" name="author" id="author" value="" tabindex="1" />
												<label >EMAIL </label>
												<input type="text" name="email" id="email" value="" tabindex="2" />
												<input type="hidden" name="comment_post_ID" value="586" />
												<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
								</form>
				</div>
</div>


<div>
				<div>
								<div>2011 peekbox all rights reserved. <a href="http://www.peekbox.tv"> peekbox.tv</a> </div>
												<ul class="rounded ">
																<li><a href="http://www.facebook.com/peekbox" class="poshytip  facebook" title="Become a fan"></a></li>
																<li><a href="http://www.twitter.com/peekbox" class="poshytip twitter" title="Follow our tweets"></a></li>
												</ul>
								<div id="to-top" class="poshytip" title="To top"></div>
				</div>
</div>
