%ul.link
	%li.item
		= link_to 'Videos' , profile_videos_path
	%li.item
		= link_to 'Albums' , profile_albums_path
	%li.item
		= link_to 'Events' , profile_events_path
	%li.item
		= link_to 'Information'
